.side-bar {
  @media (min-width: 66.5rem) {
    width: 350px !important;
    min-width: unset !important; // removes the min-width constraint
  }

  overflow: scroll;
  padding-top: 4rem;
}

.btn {
  font-size: 0.75rem !important;
  font-weight: 400;
  border-width: 0;
  box-shadow: none !important;
  border-radius: 0;
}

.side-bar {
  flex-flow: wrap !important;
  align-items: baseline;
}

.main-content-wrap {
  padding-top: 3rem;
}

.site-footer {
  position: absolute !important;
}

.site-nav {
  padding-top: 0 !important;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
}

.search-input-wrap {
  max-width: 100% !important;
}

.search-active .search-input-wrap {
  width: 100% !important;
}

.search-results {
  width: 100%;
}

// callouts

.warning {
  border-left: 4px solid orangered;
  background-color: #ffd8cd;
  padding: 10px;
  margin: 20px 0 20px 0;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(31, 31, 31, 0.2), 0 3px 10px 0 rgba(58, 58, 58, 0.19);
}

.tip {
  border-left: 4px solid cornflowerblue;
  background-color: #dce6ff;
  padding: 10px;
  margin: 20px 0 20px 0;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(31, 31, 31, 0.2), 0 3px 10px 0 rgba(58, 58, 58, 0.19);
}


.note {
  border-left: 4px solid #ffd53c;
  background-color: #fffccb;
  padding: 10px;
  margin: 20px 0 20px 0;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(31, 31, 31, 0.2), 0 3px 10px 0 rgba(58, 58, 58, 0.19);
}
